.sliderContainer {
    box-sizing: border-box;
    padding: 0.5em 1.5em;
    border: solid 1px #d9d9d9;
    border-width: 0 0 1 0;
}

.sliderGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .ant-slider {
        width: 100%;
    }

    span {
        min-width: max-content;
        margin-right: .5rem;
    }
}